:root{

--theme-color:#fb9b21;
--hover-color: hs1(37,94%,57);
--body-color:#1e1e2a;
--container-color:#2d2e37;
--tex-color:#fcfeff;
}
body{
   background-color: var(--body-color);
   color: var(--tex-color);
}
.container{
    max-width: 1068px;
    margin: auto;
width: 100%;
}
header{
    position: fix;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}
.logo span{
    color: #fb9b21;
   
}
.logo{
   font-size: 40px;
   text-decoration: none;
   font-weight: 700;
margin: 0 auto 0 0;
   font-family: roboto;
text-transform: uppercase;
}

.search-box{
    max-width: 240px;
    width: 70%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 1rem;
    margin-right: 1rem;
}

.bx{
    cursor: pointer;
}
.search-box .bx:hover {
    color: #fb9b21;
}
.search-box .bx:hover {
   font-size: 1.1rem;

}

#search-input{
    width: 90%;
    border: none;
    outline: none;
    color:var(--tex-color);
    font-size: 0.938rem;
}
.use{
    display: flex;
}
.user-img{
   height: 80px;
    color: #fb9b21;
   border: 1x solid ;
  border-radius:50%;
    width: 40;
}